.section {
  padding-top: 60px;
  padding-bottom: 60px;

  overflow: hidden;

  @media screen and (min-width: $desktop) {
      padding-top: 94px;
      padding-bottom: 94px;
  }

  &--info{
    padding: 100px 0;

    @media screen and (min-width: $tablet) {
      padding: 110px 0;
    }

    @media screen and (min-width: $desktop) {
      padding: 165px 0;
    }
  }

  &--benefits {
    padding: 70px 0;

    @media screen and (min-width: $tablet) {
      padding: 90px 0;
    }

    @media screen and (min-width: $tablet) {
      padding: 90px 0 100px 0;
    }
  }

  &--after-webinar{
    position: relative;
    padding-top: 100px;
    padding-bottom: 0;

    @media screen and (min-width: $tablet) {
      padding-top: 120px;
    }

    @media screen and (min-width: $desktop) {
      padding-top: 130px;
    }
  }

  &--reviews{
    background-color: #FFE7DB;
    padding: 100px 0;
    
    @media screen and (min-width: $tablet) {
      padding: 120px 0;
    }
  }
}

.section__title {
  position: relative;
  font-family: 'Karla';
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  margin-bottom: 30px;
  color: $black-color;
  z-index: 100;
  
  @media screen and (min-width: $tablet) {
    font-size: 40px;
    line-height: 47px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 60px;
    line-height: 70px;
  }

  &--benefits{
    @media screen and (min-width: $tablet) {
      text-align: center;
      width: 560px;
    }

    @media screen and (min-width: $desktop) {
      width: 100%;
    }
  }

  &--after-webinar {
    @media screen and (min-width: $tablet) {
      text-align: center;
      width: 530px;
    }

    @media screen and (min-width: $desktop) {
      width: 100%;
    }
  }

  &--reviews {
    text-align: center;
  }
}
