.article__text{
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;

    @media screen and (min-width: $tablet) {
        width: 465px;
        font-size: 20px;
        line-height: 28px;
    }

    @media screen and (min-width: $desktop) {
        width: 605px;
        margin-bottom: 30px;
        font-size: 20px;
        line-height: 30px;
    }

    &--bold{
        display: block;
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;

        @media screen and (min-width: $tablet) {
            width: 440px;
            font-size: 23px;
            line-height: 28px;
        }
    
        @media screen and (min-width: $desktop) {
            width: 605px;
            line-height: 30px;
        }
    }
}

.article__image{
    position: absolute;
    right: -15px;
    bottom: -270px;
    height: 245px;

    @media screen and (min-width: $tablet) {
        right: -30px;
        bottom: -20px;
        width: 270px;
        height: 270px;
    }

    @media screen and (min-width: $desktop) {
        right: -70px;
        bottom: -150px;
        width: 680px;
        height: 680px;
    }
}

.article__vector,
.article__highlight{
    position: absolute;
}

.article__vector{
    &--mob{
        top: -210px;
        left: -10px;
        width: 178px;
        height: 125px;
        z-index: 20;

        @media screen and (min-width: $tablet) {
            display: none;
        }
    }

    &--tab {
        display: none;

        @media screen and (min-width: $tablet) {
            display: block;
            top: -110px;
            left: 0;
            width: 149px;
            height: 105px;
        }

        @media screen and (min-width: $desktop) {
            display: none;
        }
    }

    &--desk {
        display: none;

        @media screen and (min-width: $desktop) {
            display: block;
            top: -130px;
            left: -2px;
            width: 166px;
            height: 117px;
        }
    }
}

.article__highlight {
    &--mob {
        bottom: -150px;
        left: 85px;
        width: 51.28px;
        height: 56.18px;

        @media screen and (min-width: $tablet) {
            display: none;
        }
    }

    &--tab {
        display: none;

        @media screen and (min-width: $tablet) {
            display: block;
            bottom: -34px;
            left: 550px;
            width: 51.28px;
            height: 56.18px;
        }

        @media screen and (min-width: $desktop) {
            display: none;
        }
    }

    &--desk {
        display: none;

        @media screen and (min-width: $desktop) {
            display: block;
            bottom: -30px;
            left: 820px;
            width: 51.28px;
            height: 56.18px;
        }
    }
}